version: "3.9"

services:
  nextjs:
    container_name: house_kari_app
    image: node:20-alpine
    working_dir: /app
    volumes:
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    command: sh -c "npm install && npm run build && npm run start"
    restart: unless-stopped

