.bannerStyle{
    width: 100%;
    height: 15.7vw;
    position: relative;
}
.bannerStyle img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.breadcrumbs{
    padding: 1.17vw 2.5vw;
}
.breadcrumbs p{
    font-size: .94vw;
    color: #939393;
}
.breadcrumbs span{
    color: var(--red);
    font-weight: 600;
}

@media (max-width:768px) {
    .bannerStyle{
        height: 27vw;
    }
    .bannerStyle img{
        object-position: left;
    }
    .breadcrumbs{
        padding: 3vw 6vw;
    }
    .breadcrumbs p{
        font-size: 2.9vw; 
        display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}