.section1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    padding-bottom: 5vw;
    position: relative;
    overflow: hidden;
}

.section1_image img{
    width: 100%;
}
.section1_content{
    padding: 4.3vw 4.5vw;
    padding-right: 11.5vw;
}
.historyHeading{
    font-size: 1.3vw;
    color: var(--old_red);
    margin-bottom: .5vw;
}
.historySubHeading{
    font-size: 1.1vw;
    color: var(--old_red);
}
.historyDesc{
    margin-top: 1.3vw;
    font-size: .9vw;
    color: black;
}

.historyHeadingWhite{
    color: white;
}
.historySubHeadingWhite{
    color: white;
}
.historyDescWhite{
    color: white;
}

.section_history{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    padding: 0 10.5vw;
    position: relative;
    overflow: hidden;
    padding-bottom: 5.5vw;
}
.section_history_box_left{
    text-align: end;
    padding-right: 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 3.7vw;
    position: relative;
}
.section_history_box_left img{
    width: 100%;
    display: block;
}
.section_history_box_right{
    padding-left: 4.5vw;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 3.7vw;
    position: relative;
}
.section_history_box_right img{
    width: 100%;
    display: block;
}
.history_border{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: .36vw;
}

.history_circle{
    width: 2.4vw;
    height: 2.4vw;
    position: absolute;
    right: -5.7vw;
    top: 0vw;
    background-color: transparent;
    border-radius: 100vw;
    border: .28vw solid #651318;
}
.history_circle_right{
    width: 2.4vw;
    height: 2.4vw;
    position: absolute;
    left: -5.7vw;
    top: 0vw;
    background-color: transparent;
    border-radius: 100vw;
    border: .28vw solid #651318;
}
.history_circle_white{
    border: .28vw solid #FFF7E3;
    background-color: transparent;
}
.history_circle_in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.35vw;
    height: 1.35vw;
    border-radius: 100vw;
    background-color: #651318;
}
.history_circle_in_white{
    background-color: #FFF7E3;
}

.history_content{
    position: relative;
}
.history_content_right{
    position: relative;
    padding-left: 0;
}

.bg_history{
    background: linear-gradient(180deg, #FFE08A 0%, #FFF8E3 37%, #FFFDF8 100%);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.divider{
    width: 100%;
    height: 1.2vw;
    background: linear-gradient(269.85deg, #D08A22 -7.51%, #FFE620 48.54%, #CB811A 106.88%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
  }

  .pattern_history{
    position: absolute; 
    right: 0;
    bottom: -13vw;
    width: 20vw;
  }

  .bg_history_second{
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #540005 0%, #D41823 100%);
    overflow: hidden;
  }

  .history_icon_1{
    position: absolute;
    right: 1vw;
    top: .1vw;
    width: 16.5vw;
    z-index: 1;
  }
  .history_icon_2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 17vw;
    z-index: 1;
  }
  
  .history_border_left{
    position: absolute;
    left: 0;
    top: 0;
    width: 14vw;
  }
  .history_border_right{
    position: absolute;
    right: 0;
    top: 0;
    width: 14vw;
  }

  .bg_history_third{
    position: relative;
    width: 100%;
    padding-bottom: 9vw;
    background: linear-gradient(360deg, #FFE08A 0%, #FFF7E2 53%, #FFFFFF 100%);
  }

  .history_icon_3{
    position: absolute;
    left: 1vw;
    bottom: 2.4vw;
    width: 25vw;
  }
  .history_icon_4{
    position: absolute;
    right: 7vw;
    z-index: 2;
    bottom: 10vw;
    width: 13vw;
  }

  .pattern_center_history{
    position: absolute;
    left: -21vw;
    z-index: 0;
    top: 62vw;
    width: 42vw;
  }

  .image_history_mobile{
    display: none !important;
  }

  @media (max-width:768px) {
    .bg_history{
        padding-bottom: 5vw;
    }
    .section1_image{
        z-index: 10;
    }
    .section1{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 2vw;
    }
    .section1_content{
        padding: 8vw 8vw;
        padding-right: 9.5vw;
    }
    .historyHeading{
        font-size: 4.1vw;
        margin-bottom: .9vw;
    }
    .historySubHeading{
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .historyDesc{
        margin-top: 3.5vw;
        font-size: 2.8vw;
    }
    .section_history{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: flex-start;
        padding: 0 8vw;
        position: relative;
        overflow: hidden;
        padding-bottom: 5vw;
    }
    .section_history_box_left{
        padding-right: 0;
        padding-left: 8.4vw;
        text-align: start;
        margin-bottom: .4vw;
    }
    .section_history_box_right{
        padding-left: 8.4vw;
        margin-bottom: .4vw;
    }
    .section_history_box_right img{
        width: 100%;
        display: none;
    }
    .section_history_box_left img{
        width: 100%;
        display: none;
    }
    .history_circle{
        width: 5.4vw;
        height: 5.4vw;
        right: inherit;
        left: -8.6vw;
        z-index: 5;
    }
    .history_circle_right{
        width: 5.4vw;
        height: 5.4vw;
        left: -8.6vw;
        z-index: 5;
    }
    .history_circle_in{
        width: 3.35vw;
        height: 3.35vw;
    }
    .history_border{
        position: absolute;
        left: 10vw;
        top: 0;
        transform: translateX(0);
        width: .9vw;
        z-index: 2;
    }
    .divider{
        height: 1.4vw;
        bottom: 0;
    }

    .history_border_mobile{
        display: none;
    }
    .image_history_mobile{
        display: block !important;
        width: 100%;
        margin-bottom: 2vw !important;
        margin-top: 3vw !important;
    }
    .bg_history_second{
        padding-bottom: 6vw;
    }
    .bg_history_third{
        padding-bottom: 23vw;
    }
    .history_icon_3{
        position: absolute;
        left: 1vw;
        bottom: 2.4vw;
        width: 35vw;
    }
    .history_icon_4{
        position: absolute;
        right: 5vw;
        z-index: 2;
        bottom: 46vw;
        width: 23vw;
    }
  }