.footer{
    display: grid;
    grid-template-columns: 33% 25% 42%;
    width: 100%;
    padding: 3.6vw 10.5vw;
    padding-right: 0;
    padding-bottom: 3vw;
    background: linear-gradient(91.73deg, #E60011 0.33%, #007A58 73.88%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.identity img{
    filter: brightness(0) invert(1);
    width: 10vw;
    margin-bottom: 1.65vw;
}
.identity_layout h1{
    font-size: .9vw;
    color: white;
    font-weight: 600;
    margin-bottom: .2vw;
}
.identity_layout p{
    font-size: .9vw;
    color: white;
    font-weight: 300;
    margin-bottom: 1.2vw;
}
.identity_layout a{
    font-size: .9vw;
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: block;
}

.social_footer{
    display: flex;
    justify-content: center;
    gap: 1.4vw;
    align-items: center;
    margin: auto;
    margin-bottom: 1vw;
}
.social_footer img{
    max-width: 1.5vw;
    max-height: 1.5vw;
    color: white;
}

.img_footer{ 
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.img_footer img{
    width: 42vw;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.copyright{
    background: linear-gradient(269.85deg, #D08A22 -7.51%, #FFED5D 48.54%, #CB811A 106.88%);
    width: 100%;
    padding: 1.3vw ;
    text-align: center;
}
.copyright span{
    font-size: .9vw;
    color: #651318;
    font-weight: 400;
}

@media (max-width:768px) {
    .footer{
        grid-template-columns: repeat(1, 1fr);
        padding: 10vw 8vw;
        padding-bottom: 9vw;
        position: relative;
    }
    .identity img{
        width: 30vw;
        margin-bottom: 3.4vw;
    }
    .identity_layout h1{
        font-size: 3vw;
        margin-bottom: .4vw;
    }
    .identity_layout p{
        font-size: 2.9vw;
        padding-right: 29vw;
        margin-bottom: 4.2vw;
    }
    .identity_layout a{
        font-size: 2.9vw;
        color: white;
        font-weight: 600;
        text-decoration: none;
        display: block;
    }
    .social_footer{
        gap: 3.6vw;
        margin-bottom: 0;
        justify-content: flex-start;
        margin-right: auto;
        margin-left: inherit;
        margin-top: 8.5vw;
    }
    .social_footer img{
        max-width: 4.2vw;
        max-height: 4.2vw;
        color: white;
    }
    .social_footer svg{
        font-size: 4.5vw;
    }
    
    .img_footer{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

    }
    .img_footer img{
        width: 47vw;
        margin-bottom: 0;
        position: absolute;
        right: 2vw;
        bottom: 0;
    }
    .copyright{
        padding: 2.4vw;
    }
    .copyright span{
        font-size: 2.5vw;
    }
}